services:
  db:
    image: postgres:16
    container_name: psql_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: nestdb
      POSTGRES_USER: nestuser
      POSTGRES_PASSWORD: nestpass
    volumes:
      - pgdata:/var/lib/postgresql/data

  nest1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_app_1
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: postgres://nestuser:nestpass@db:5432/nestdb
      INSTANCE_ID: nest1
      CHOKIDAR_USEPOLLING: "true"
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - dist/
            - .git/
        - action: rebuild
          path: package.json
        - action: rebuild
          path: package-lock.json
    depends_on:
      - db


  nest2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_app_2
    restart: unless-stopped
    ports:
      - "3002:3000"
    environment:
      DATABASE_URL: postgres://nestuser:nestpass@db:5432/nestdb
      CHOKIDAR_USEPOLLING: "true"
      INSTANCE_ID: nest2
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - dist/
            - .git/
        - action: rebuild
          path: package.json
        - action: rebuild
          path: package-lock.json
    depends_on:
      - db

  nginx:
    image: nginx:1.24.0-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - nest1
      - nest2

  prometheus:
    image: prom/prometheus:v2.54.0
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - nest1
      - nest2

  grafana:
    image: grafana/grafana:11.1.0
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3003:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  pgdata:
    driver: local
  grafana_data:
    driver: local
